* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s linear;
}

html,
body {
    min-width: 320px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0; /* Lighter background for neumorphic effect */
}

.wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 30px;
    background-color: #e0e0e0; /* Same color as the background */
    box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #b0b0b0; /* Soft shadows for neumorphic effect */
    border-radius: 10px;
    position: relative;
}

#output {
    text-align: left;
    white-space: pre-wrap;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

form {
    display: inline-block;
    width: 100%;
}

input[name="input"],
input[type="submit"],
button,
select[name="systemMessage"] {
    width: 95%;
    padding: 5px 10px;
    font-size: 14px;
    border: none; /* Remove border */
    border-radius: 15px; /* Increase border radius */
    background-color: #e0e0e0; /* Same color as the background */
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #b0b0b0; /* Soft shadows for neumorphic effect */
}

input[type="submit"]:hover,
button:hover {
    background-color: #d0d0d0; /* Darker color on hover */
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #e0e0e0; /* Same color as the background */
    border-radius: 20px; /* Increase border radius */
    box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #b0b0b0; /* Soft shadows for neumorphic effect */
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.product-container:hover {
    box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #b0b0b0; /* Reduced shadow size on hover */
}

.product-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: all 0.3s;
}

.product-container:hover img {
    transform: scale(1.1); /* Increase image size on hover */
}

.product-container h2,
.product-container h3 {
    margin: 10px;
    color: #333; /* Darker text color for contrast */
    text-shadow: 1px 1px 1px #ffffff; /* Light text shadow for depth */
}

